<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} My Social Network {% endblock %}</title>
</head>

<body>
    <header>

    </header>
    <nav>

    </nav>
    <main>
        {% block content %} Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur porro tempore fuga odit iusto quasi vero. Earum quis ex, sunt, repellat nihil obcaecati dolorum animi, suscipit aspernatur eius totam asperiores.{% endblock %}
    </main>

    <footer>

    </footer>
    
</body>

</html>